*.class

# Package Files #
*.jar
*.war
*.ear
*.xml
*.mf
*.properties
*.form
.classpath
.project
.settings/*
/Bengo/nbproject/private/
/Bengo/build/
/Bengo/dist/
/Bengo0o/nbproject/private/
